name: Release Workflow

on:
  release:
    types:
      - created

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  branchAndPublishToNpmAndDocker:
    runs-on: ubuntu-24.04

    env:
      RELEASE_TAG: ${{ github.event.release.tag_name }}
      GIT_USER_NAME: soloio-bot
      GIT_USER_EMAIL: soloio-bot@github.com
      GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Install Node
        uses: actions/setup-node@v5
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://registry.npmjs.org"

      - name: Enable Corepack and install yarn
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      - name: Setup Git
        run: |
          git config user.name $GIT_USER_NAME
          git config user.email $GIT_USER_EMAIL
          git config --global url."https://${GH_TOKEN}@github.com/solo-io/".insteadOf "https://github.com/solo-io/"
          git config --global pull.rebase false
          git fetch --prune

      - name: Create/update release branch
        run: |
          RELEASE_BRANCH=$(echo $RELEASE_TAG | sed 's|\.[0-9]*$|\.x|g')
          # Check if the release branch exists.
          if [ $(git ls-remote origin --heads $RELEASE_BRANCH | wc -l) -eq 0 ]; then
            # If it doesn't exist, we can create it and push to it.
            echo "Branch $RELEASE_BRANCH does not exist, so it will be created."
            git checkout -b $RELEASE_BRANCH
            git push --set-upstream origin $RELEASE_BRANCH 
          else
            # Else, we need to update it.
            echo "Branch $RELEASE_BRANCH exists, so it will be updated."
            git stash
            git checkout $RELEASE_BRANCH
            git pull origin main -X theirs --allow-unrelated-histories
            git push origin $RELEASE_BRANCH 
          fi

      - name: Navigate to backstage project
        run: |
          cd ./backstage

      - name: Update version in package.json
        run: |
          RELEASE_BRANCH=$(echo $RELEASE_TAG | sed 's|\.[0-9]*$|\.x|g')
          RELEASE_VERSION=$(echo $RELEASE_TAG | sed 's|v||g')
          sed -i "s|\"version\"\:[[:space:]]*\"[0-9]*\.[0-9]*\.[0-9]*\"|\"version\"\: \"$RELEASE_VERSION\"|" ./plugins/platform-portal-backstage-plugin-backend/package.json
          sed -i "s|backend\/blob\/main\/|backend\/blob\/$RELEASE_BRANCH\/|" ./plugins/platform-portal-backstage-plugin-backend/package.json || true
          git add ./plugins/platform-portal-backstage-plugin-backend/package.json || true
          git commit -m "Update package.json version information for $RELEASE_TAG" || true
          git push origin $RELEASE_BRANCH

      #
      # NPM Package
      #
      - name: Install dependencies and build the plugins + packages
        run: |
          export NODE_OPTIONS=--max-old-space-size=4096
          yarn || true
          yarn tsc || true
          yarn build:all

      - name: Publish to NPM with OIDC
        run: |
          npm publish ./plugins/platform-portal-backstage-plugin-backend

      #
      # GCR Image
      #
      - name: Gcloud Auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GC_PUBLIC_GCR_SA_KEY }}
          project_id: solo-public
          create_credentials_file: true

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
        with:
          version: 416.0.0

      - name: Configure Docker to use GCR
        run: |
          gcloud auth configure-docker --quiet

      - name: Build and push Docker image
        run: |
          DOCKER_BUILDKIT=1 docker build -f ./packages/backend/Dockerfile --tag gcr.io/solo-public/docs/portal-backstage-backend:${RELEASE_TAG} --tag gcr.io/solo-public/docs/portal-backstage-backend:latest . 
          docker push gcr.io/solo-public/docs/portal-backstage-backend:${RELEASE_TAG}
          docker push gcr.io/solo-public/docs/portal-backstage-backend:latest
